@import "common_styling.css";
/* to the current page */
.about-nav{
    color: #ffa116!important;
    text-decoration: underline;
}
@media (max-width:1023px)
{
    .about-nav{
        color: #ffa116!important;
    }
}

/* about */
@media (min-width:1024px) {
    #about{
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: calc(70vh);
        width: calc(70vw);
        align-items: center;
        justify-content: center;
    }
    #hobbies,#favourites,#education,#acheivements{
        display: flex;
        position: relative;
        margin: 0 calc(1vw);
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    span{
        position: absolute;
        display: inline;
        left: 50%;
        top: calc(47vh); 
        transform: translate(-50%,-50%);
    }
    .about-amblem{
        font-size: calc(3vh);
    }
    .fa-chess-queen{
        color: #000;
    }
    .fa-heart{
        color: #e90064;
    }
    .fa-school{
        color: brown;
    }
    .fa-trophy{
        color: gold;
    }
    .initial{
        height: calc(50vh);
        width: calc(3vw);
        background-color: #fff;
        border-radius: 2rem;
        transition: width 1s;
    }
    .ab-child:hover{
        width: calc(25vw);
    }
    .ab-child div:nth-child(2)
    {
        font-size: 1em;
        color: #000;
        margin: 4%;
        text-align: center;
    }
    .ab-child{
        overflow: hidden;
    }
}
@media (max-width:1023px) {
    #about{
        display: none;
    }
}