@import "common_styling.css";
/* to the current page */
.about-nav{
    color: #ffa116!important;
    text-decoration: underline;
}
@media (max-width:1023px)
{
    .about-nav{
        color: #ffa116!important;
    }
}
