@import "common_styling.css";

.resources-nav{
    color: #ffa116!important;
}
@media (max-width:1023px)
{
    .resources-nav{
        color: #ffa116!important;
    }
}
#bdy.light .resources-nav{
    text-decoration: underline;
    transition: 0.3s linear;
    color: black!important;
}